<h1>Get the Pulitzer!</h1>

<%= simple_form_for(@article) do |f| %>
  <%= f.input :title %>
  <%= f.input :content%>
  <%= f.submit %>
<% end %>

<%= link_to articles_path do%>
<div>Back to List</div>
<%end%>
